# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/
mcpenv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment Variables
.env

# Python Packaging
*.egg-info/
dist/
build/